/**
 * @file
 * Custom css for navigation, example below
 *
 * @todo Need a standard mobile nav solution
 */

// main navigation
nav {
  ul.menu,
  ul.horizontal-menu {
    margin: 0;
    padding: 0;
    //display: flex;
    // flex-flow: row wrap;
    list-style-type: none;
    li {
      padding: .5rem;
      background-color: $lighter-gray;
      font-size: 1.3rem;
    }
  }
}

// Recommended for mobile menu: https://www.drupal.org/project/responsive_menu
// See the README in that module as it requires installation of thrid party libraries
// Responsive menu mobile icon


