/**
 * @file
 * All variables go here
 *
 * @todo Much of this was pasted in from the Acquia Cog theme, meeds to be edited or replaced
 */

// Colors ///////////////
$white: #fff;
$red: #ee696c;
$yellow: #e8ed57;
// b&w colors as placeholders
$blk: #000;
$dark-gray: lighten($blk, 20%);
$med-gray: lighten($blk, 40%);
$light-gray: lighten($blk, 70%);
$lighter-gray: lighten($blk, 90%);
$off-white: lighten($blk, 97%);
$heading: $dark-gray;
$link: $med-gray;

// Fonts ///////////////
// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;
// Assign
$body_font: $open-sans;
$heading_font: $roboto-slab;

// Breakpoints & Media Queries ///////////////
$screen: "only screen" !default;
$small-max: 767px !default;
$medium-max: 1023px !default;
$small: $screen max-width $small-max;
$up-sm: $screen $small-max + 1;
$medium: $screen $small-max + 1 $medium-max;
$large: $screen $medium-max + 1;

// EXAMPLE FOR REFERENCES =>
/*
body {
  background: green !important;
  @include breakpoint($small)  { background: orange !important; }
  @include breakpoint($medium) { background: teal !important; }
  @include breakpoint($large)  { background: orchid !important; }
  @include breakpoint($up-sm)  { background: aliceblue !important; }
}
*/




