.header-container .header.region--gray-background {
  background-color: #d52027;
}
.site-branding__name a {
  color: #000000;
}
.menu-item a {
    color: #000000;
}

.region-sidebar-first ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

.main-content__section {
    padding-top: 100px;
}

.region-content a {
    text-decoration: underline;
}